input[type='text'] {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.btn {
  display: inline-block;
  background: #333333;
  color: #F0FFFF;
  padding: 0.8rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;
  width: 100%;
}

.btn:hover {
  opacity: 0.8;
}